@-moz-document url("about:home"), url("about:newtab") {
  .logo-and-wordmark {
    margin-top: -47px !important;
  }
  /*Weather widget*/
  .nova-enabled .sidebar-inline-end {
    display: block !important;
    grid-column: 1 !important;
  }

  .nova-enabled .sidebar-inline-end::after {
    box-sizing: border-box;
  }

  .nova-enabled .weather-widget .widget-title-bar {
    display: none !important;
  }

  .nova-enabled .weather-widget {
    height: 45% !important;
  }

  .top-sites-list {
    display: flex;
    justify-content: center;
  }

  .top-sites-list > li.top-site-outer:not(:has(.pinned)) {
    display: none !important;
  }
}
